.App {
  background-color: #FFFFFF;
  color: #0F0F0F;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 2vh;

  text-align: center;
  font-size: calc(15px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Container {
  display: flex;
  flex-direction: column;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 55vw; 
  gap: 2vh;  
  padding: 2vw; 
}

.leviosa-gif{
  width: 50vw;
}  

@media (max-width: 868px) {
  .Container {
      width: 95vw; 
      gap: 5vh; 
  }

  .leviosa-gif{
    width: 90vw;
  }  
}

.Container-Header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.input-group{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
}

.input-group input{
  margin: 0;
  height: 20px;
  width: 60%;
  font-weight: 600;
  font-family: sans-serif;
  padding: 5px;
  border: #0F0F0F 1px solid;
}


.input-group button{
  margin: 0;
  height: 32px;
  width: 30%;
  padding: 5px;
  border: #0F0F0F 1px solid;
  color: #FFFFFF;
  background-color: #0F0F0F;
  font-weight: 600;
  font-size: 40%;
  cursor: pointer;
}

.input-group button:hover{
  cursor: pointer;
}

.img-book{
  margin: 0;
}


.underline{
  text-decoration: underline;
}

*:focus {
  outline: none;
}