@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Display:ital,wght@0,300..700;1,300..700&display=swap');

body {
  margin: 0;
  font-family: "Red Hat Display",  serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.red-hat-font-100 {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.red-hat-font-200 {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.red-hat-font-300 {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.red-hat-font-400 {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-font-500 {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.red-hat-font-600 {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.red-hat-font-700 {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    Displayspace;
}
